# Data files
*.csv
*.json
*.txt
!ignored_files_log.txt
*.xlsx
*.parquet
*.bin
*.sqlite3
*.marker

# Image files
*.png

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
my_functions/VAE_LSTM/
espnet_artifact/

# IDEs
.idea/
.vscode/
