IPython==7.17.0
Pillow==12.3.0
PyYAML==5.3.1
common
dmba
einops
env
facenet_pytorch
gymnasium
imageio
imblearn
joblib
lejepa
librosa==0.8.1
matplotlib
numpy==1.19.4
omegaconf
opencv-python==4.4.0.44
pandas==1.0.5
prince
pygam
res
scikit-learn
scipy
seaborn
six==1.15.0
statsmodels
tensorflow
torch
torchvision
tqdm
utils
wall_dataset
wandb
wquantiles
xgboost
