Pillow==12.3.0
PyPDF2==1.26.0
audiocraft
bcrypt==3.2.0
dlib
dowload_youtube
fuzzywuzzy==0.18.0
imutils
librosa==0.8.1
matplotlib
model
numpy==1.19.4
opencv-python==4.4.0.44
openpyxl==3.0.5
pandas==1.0.5
playsound
pyimagesearch
pytesseract
pytest
pyttsx3==2.90
pytube
scikit-learn
scipy
skimage
tabula
tensorflow
tqdm
unidecode==1.1.1
validators
wand
youtube-dl==2020.12.29
