Google
Gsheet_util
Pillow==12.3.0
SQLAlchemy==1.3.18
aiobotocore==1.2.0
app
boto3==1.16.4
elasticsearch
google-api-core==1.22.0
google-api-python-client==1.10.0
google_auth_oauthlib==0.4.1
google_spreadsheet_api
gspread==3.6.0
gspread_dataframe
matplotlib
numpy==1.19.4
oauth2client==4.1.3
pandas==1.0.5
polars
py2neo
pydrive
pydrive2
pymongo
pyppeteer
seaborn
seleniumbase
timer
util
youtube-dl==2020.12.29
